USE [master]
GO
/****** Object:  Database [QLKS]    Script Date: 7/22/2020 11:32:13 AM ******/
CREATE DATABASE [QLKS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLKS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QLKS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLKS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QLKS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKS]
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDCTHD]    Script Date: 7/22/2020 11:32:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDCTHD]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MACTHD) FROM TBL_CTHD) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MACTHD, 3)) FROM TBL_CTHD
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'HD00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'HD0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDHD]    Script Date: 7/22/2020 11:32:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDHD]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MAHD) FROM TBL_HOADON) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MAHD, 3)) FROM TBL_HOADON
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'HD00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'HD0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDKH]    Script Date: 7/22/2020 11:32:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDKH]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MAKH) FROM TBL_KHACHHANG ) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MAKH, 3)) FROM TBL_KHACHHANG
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'KH00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'KH0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDLP]    Script Date: 7/22/2020 11:32:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDLP]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MALP) FROM TBL_LOAIPHONG) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MALP, 3)) FROM TBL_LOAIPHONG
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'LP00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'LP0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  Table [dbo].[TBL_CTDV]    Script Date: 7/22/2020 11:32:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CTDV](
	[MACTHD] [varchar](10) NOT NULL,
	[MADV] [varchar](4) NOT NULL,
 CONSTRAINT [PK__TBL_CTDV__B30F44CE977317A3] PRIMARY KEY CLUSTERED 
(
	[MACTHD] ASC,
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CTHD]    Script Date: 7/22/2020 11:32:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CTHD](
	[MACTHD] [varchar](10) NOT NULL,
	[MAKH] [varchar](5) NULL,
	[MANV] [varchar](4) NULL,
	[NGAYNHANPHONG] [smalldatetime] NULL,
	[NGAYDI] [smalldatetime] NULL,
	[SOPHONG] [varchar](5) NULL,
	[TRATRUOC] [money] NULL,
 CONSTRAINT [PK__TBL_CTHD__F50CB4CB4C26E420] PRIMARY KEY CLUSTERED 
(
	[MACTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_DICHVU]    Script Date: 7/22/2020 11:32:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DICHVU](
	[MADV] [varchar](4) NOT NULL,
	[TENDV] [nvarchar](20) NULL,
	[GIADV] [varchar](20) NULL,
 CONSTRAINT [PK__TBL_DICH__603F0055E6D6D693] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_HOADON]    Script Date: 7/22/2020 11:32:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_HOADON](
	[MACTHD] [varchar](10) NULL,
	[TONGTIEN] [nchar](20) NULL,
	[MAHD] [varchar](10) NOT NULL,
	[NGAYTHANHTOAN] [smalldatetime] NULL,
	[TRATRUOC] [varchar](20) NULL,
	[MANV] [varchar](4) NULL,
 CONSTRAINT [PK__TBL_HOAD__603F20CE15537201] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_KHACHHANG]    Script Date: 7/22/2020 11:32:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_KHACHHANG](
	[MAKH] [varchar](5) NOT NULL,
	[TENKH] [nvarchar](30) NULL,
	[DIACHI] [nvarchar](30) NULL,
	[GIOITINH] [nvarchar](6) NULL,
	[NGAYSINH] [smalldatetime] NULL,
	[CMND] [varchar](50) NULL,
	[QUOCTICH] [nvarchar](20) NULL,
	[SDT] [char](15) NULL,
 CONSTRAINT [PK__TBL_KHAC__603F592CE862B87F] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_LOAINHANVIEN]    Script Date: 7/22/2020 11:32:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_LOAINHANVIEN](
	[MALNV] [varchar](4) NOT NULL,
	[TENLNV] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_LOAIPHONG]    Script Date: 7/22/2020 11:32:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_LOAIPHONG](
	[MALP] [varchar](5) NOT NULL,
	[TENLP] [nvarchar](20) NULL,
	[TRANGTHIETBI] [nvarchar](100) NULL,
	[GIA] [varchar](20) NULL,
 CONSTRAINT [PK__TBL_LOAI__603F4155CA581865] PRIMARY KEY CLUSTERED 
(
	[MALP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_NHANVIEN]    Script Date: 7/22/2020 11:32:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_NHANVIEN](
	[MANV] [varchar](4) NOT NULL,
	[TENNV] [nvarchar](30) NULL,
	[MALNV] [varchar](4) NULL,
	[NGSINH] [smalldatetime] NULL,
	[GIOITINH] [nvarchar](6) NULL,
	[SDT] [char](15) NULL,
	[DIACHI] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PHONG]    Script Date: 7/22/2020 11:32:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PHONG](
	[SOPHONG] [varchar](5) NOT NULL,
	[TINHTRANG] [nvarchar](15) NOT NULL,
	[MALP] [varchar](5) NULL,
 CONSTRAINT [PK__TBL_PHON__4D288ADFCFB2212F] PRIMARY KEY CLUSTERED 
(
	[SOPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TAIKHOAN]    Script Date: 7/22/2020 11:32:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TAIKHOAN](
	[TAIKHOAN] [varchar](20) NOT NULL,
	[MANV] [varchar](4) NOT NULL,
	[MATKHAU] [varchar](20) NOT NULL,
	[CHUCVU] [int] NOT NULL,
 CONSTRAINT [PK__TBL_TAIK__8C5E61058456D005] PRIMARY KEY CLUSTERED 
(
	[TAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_THONGTINKS]    Script Date: 7/22/2020 11:32:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_THONGTINKS](
	[MAKS] [nchar](10) NOT NULL,
	[TENKS] [nvarchar](50) NULL,
	[DIACHIKS] [nvarchar](50) NULL,
	[EMAILKS] [nchar](50) NULL,
	[SDTKS] [nchar](15) NULL,
	[WEBSITEKS] [nchar](50) NULL,
 CONSTRAINT [PK_TBL_THONGTINKS] PRIMARY KEY CLUSTERED 
(
	[MAKS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TBL_CTDV] ([MACTHD], [MADV]) VALUES (N'HD001', N'DV01')
INSERT [dbo].[TBL_CTDV] ([MACTHD], [MADV]) VALUES (N'HD002', N'DV02')
INSERT [dbo].[TBL_CTDV] ([MACTHD], [MADV]) VALUES (N'HD003', N'DV02')
INSERT [dbo].[TBL_CTHD] ([MACTHD], [MAKH], [MANV], [NGAYNHANPHONG], [NGAYDI], [SOPHONG], [TRATRUOC]) VALUES (N'HD001', N'KH001', N'QL01', CAST(N'2019-10-11T08:18:00' AS SmallDateTime), CAST(N'2019-10-11T08:18:00' AS SmallDateTime), N'P003', 0.0000)
INSERT [dbo].[TBL_CTHD] ([MACTHD], [MAKH], [MANV], [NGAYNHANPHONG], [NGAYDI], [SOPHONG], [TRATRUOC]) VALUES (N'HD002', N'KH002', N'QL01', CAST(N'2019-10-11T08:18:00' AS SmallDateTime), CAST(N'2019-10-11T08:18:00' AS SmallDateTime), N'P001', 0.0000)
INSERT [dbo].[TBL_CTHD] ([MACTHD], [MAKH], [MANV], [NGAYNHANPHONG], [NGAYDI], [SOPHONG], [TRATRUOC]) VALUES (N'HD003', N'KH003', N'QL01', CAST(N'2019-10-11T08:18:00' AS SmallDateTime), CAST(N'2019-10-11T08:18:00' AS SmallDateTime), N'P002', 0.0000)
INSERT [dbo].[TBL_DICHVU] ([MADV], [TENDV], [GIADV]) VALUES (N'DV01', N'an', N'200000')
INSERT [dbo].[TBL_DICHVU] ([MADV], [TENDV], [GIADV]) VALUES (N'DV02', N'bar', N'500000')
INSERT [dbo].[TBL_HOADON] ([MACTHD], [TONGTIEN], [MAHD], [NGAYTHANHTOAN], [TRATRUOC], [MANV]) VALUES (N'HD001', NULL, N'HD001', CAST(N'2020-07-15T00:00:00' AS SmallDateTime), N'150000', N'QL01')
INSERT [dbo].[TBL_HOADON] ([MACTHD], [TONGTIEN], [MAHD], [NGAYTHANHTOAN], [TRATRUOC], [MANV]) VALUES (N'HD002', NULL, N'HD002', CAST(N'2020-07-15T00:00:00' AS SmallDateTime), N'250000', N'QL01')
INSERT [dbo].[TBL_HOADON] ([MACTHD], [TONGTIEN], [MAHD], [NGAYTHANHTOAN], [TRATRUOC], [MANV]) VALUES (N'HD003', NULL, N'HD003', CAST(N'2020-07-15T00:00:00' AS SmallDateTime), N'500000', N'QL01')
INSERT [dbo].[TBL_KHACHHANG] ([MAKH], [TENKH], [DIACHI], [GIOITINH], [NGAYSINH], [CMND], [QUOCTICH], [SDT]) VALUES (N'KH001', N'Huỳnh Long Pháp', N'KTX Khu B', N'Nam', CAST(N'2019-10-11T08:18:00' AS SmallDateTime), N'221482959', N'VietNam', N'0352796298     ')
INSERT [dbo].[TBL_KHACHHANG] ([MAKH], [TENKH], [DIACHI], [GIOITINH], [NGAYSINH], [CMND], [QUOCTICH], [SDT]) VALUES (N'KH002', N'Nguyễn Văn Hoài Nam', N'KTX Khu B', N'Nam', CAST(N'2019-10-11T08:18:00' AS SmallDateTime), N'12345', N'VietNam', N'0352796298     ')
INSERT [dbo].[TBL_KHACHHANG] ([MAKH], [TENKH], [DIACHI], [GIOITINH], [NGAYSINH], [CMND], [QUOCTICH], [SDT]) VALUES (N'KH003', N'Nguyễn Tài Nguyên', N'KTX Khu B', N'Nam', CAST(N'2019-10-08T08:18:00' AS SmallDateTime), N'123456', N'VietNam', N'0352796298     ')
INSERT [dbo].[TBL_LOAINHANVIEN] ([MALNV], [TENLNV]) VALUES (N'L01', N'Quan ly')
INSERT [dbo].[TBL_LOAINHANVIEN] ([MALNV], [TENLNV]) VALUES (N'L02', N'Nhan vien tiep tan')
INSERT [dbo].[TBL_LOAINHANVIEN] ([MALNV], [TENLNV]) VALUES (N'L03', N'Nhan vien ve sinh')
INSERT [dbo].[TBL_LOAIPHONG] ([MALP], [TENLP], [TRANGTHIETBI], [GIA]) VALUES (N'LP001', N'Phòng đơn3', N'1 giường đơn', N'150000')
INSERT [dbo].[TBL_LOAIPHONG] ([MALP], [TENLP], [TRANGTHIETBI], [GIA]) VALUES (N'LP002', N'Phòng đôi', N'2 giường đơn', N'300000')
INSERT [dbo].[TBL_NHANVIEN] ([MANV], [TENNV], [MALNV], [NGSINH], [GIOITINH], [SDT], [DIACHI]) VALUES (N'NV01', N'NTN', N'L01', CAST(N'2000-12-19T00:00:00' AS SmallDateTime), N'NAM', N'0919002541     ', N'DAU CUNG DC')
INSERT [dbo].[TBL_NHANVIEN] ([MANV], [TENNV], [MALNV], [NGSINH], [GIOITINH], [SDT], [DIACHI]) VALUES (N'NV02', N'NVN', N'L02', CAST(N'2000-01-19T00:00:00' AS SmallDateTime), N'NU', N'0919123441     ', N'DAU CUNG DC')
INSERT [dbo].[TBL_NHANVIEN] ([MANV], [TENNV], [MALNV], [NGSINH], [GIOITINH], [SDT], [DIACHI]) VALUES (N'NV03', N'TDB', N'L02', CAST(N'1999-12-01T00:00:00' AS SmallDateTime), N'NAM', N'0929005541     ', N'DAU CUNG DC')
INSERT [dbo].[TBL_PHONG] ([SOPHONG], [TINHTRANG], [MALP]) VALUES (N'P001', N'USED', N'LP001')
INSERT [dbo].[TBL_PHONG] ([SOPHONG], [TINHTRANG], [MALP]) VALUES (N'P002', N'USED', N'LP002')
INSERT [dbo].[TBL_PHONG] ([SOPHONG], [TINHTRANG], [MALP]) VALUES (N'P003', N'USED', N'LP001')
INSERT [dbo].[TBL_TAIKHOAN] ([TAIKHOAN], [MANV], [MATKHAU], [CHUCVU]) VALUES (N'admin', N'QL01', N'admin', 1)
INSERT [dbo].[TBL_TAIKHOAN] ([TAIKHOAN], [MANV], [MATKHAU], [CHUCVU]) VALUES (N'nhanvien', N'NV01', N'nhanvien', 0)
INSERT [dbo].[TBL_THONGTINKS] ([MAKS], [TENKS], [DIACHIKS], [EMAILKS], [SDTKS], [WEBSITEKS]) VALUES (N'KS01      ', N'Làng ĐH', N'KTX', N'langdh@gmail.com                                  ', N'0352784212     ', N'langdh.com.vn                                     ')
ALTER TABLE [dbo].[TBL_CTDV]  WITH CHECK ADD  CONSTRAINT [FK_CTDV_CTHD] FOREIGN KEY([MACTHD])
REFERENCES [dbo].[TBL_CTHD] ([MACTHD])
GO
ALTER TABLE [dbo].[TBL_CTDV] CHECK CONSTRAINT [FK_CTDV_CTHD]
GO
ALTER TABLE [dbo].[TBL_CTDV]  WITH CHECK ADD  CONSTRAINT [FK_CTDV_DICHVU] FOREIGN KEY([MADV])
REFERENCES [dbo].[TBL_DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[TBL_CTDV] CHECK CONSTRAINT [FK_CTDV_DICHVU]
GO
ALTER TABLE [dbo].[TBL_CTHD]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CTHD_TBL_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[TBL_KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[TBL_CTHD] CHECK CONSTRAINT [FK_TBL_CTHD_TBL_KHACHHANG]
GO
ALTER TABLE [dbo].[TBL_CTHD]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CTHD_TBL_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[TBL_NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TBL_CTHD] CHECK CONSTRAINT [FK_TBL_CTHD_TBL_NHANVIEN]
GO
ALTER TABLE [dbo].[TBL_CTHD]  WITH CHECK ADD  CONSTRAINT [FK_TBL_CTHD_TBL_PHONG] FOREIGN KEY([SOPHONG])
REFERENCES [dbo].[TBL_PHONG] ([SOPHONG])
GO
ALTER TABLE [dbo].[TBL_CTHD] CHECK CONSTRAINT [FK_TBL_CTHD_TBL_PHONG]
GO
ALTER TABLE [dbo].[TBL_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_TBL_HOADON_TBL_CTHD] FOREIGN KEY([MACTHD])
REFERENCES [dbo].[TBL_CTHD] ([MACTHD])
GO
ALTER TABLE [dbo].[TBL_HOADON] CHECK CONSTRAINT [FK_TBL_HOADON_TBL_CTHD]
GO
ALTER TABLE [dbo].[TBL_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_TBL_HOADON_TBL_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[TBL_NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TBL_HOADON] CHECK CONSTRAINT [FK_TBL_HOADON_TBL_NHANVIEN]
GO
ALTER TABLE [dbo].[TBL_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_TBL_NHANVIEN_TBL_LOAINHANVIEN] FOREIGN KEY([MALNV])
REFERENCES [dbo].[TBL_LOAINHANVIEN] ([MALNV])
GO
ALTER TABLE [dbo].[TBL_NHANVIEN] CHECK CONSTRAINT [FK_TBL_NHANVIEN_TBL_LOAINHANVIEN]
GO
ALTER TABLE [dbo].[TBL_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_TBL_PHONG_TBL_LOAIPHONG] FOREIGN KEY([MALP])
REFERENCES [dbo].[TBL_LOAIPHONG] ([MALP])
GO
ALTER TABLE [dbo].[TBL_PHONG] CHECK CONSTRAINT [FK_TBL_PHONG_TBL_LOAIPHONG]
GO
ALTER TABLE [dbo].[TBL_TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK__TBL_TAIKHO__MANV__5CD6CB2B] FOREIGN KEY([MANV])
REFERENCES [dbo].[TBL_NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TBL_TAIKHOAN] CHECK CONSTRAINT [FK__TBL_TAIKHO__MANV__5CD6CB2B]
GO
/****** Object:  StoredProcedure [dbo].[USP_DELETELOAINHANVIEN]    Script Date: 7/22/2020 11:32:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DELETELOAINHANVIEN]
@MALNV CHAR(4)
AS
BEGIN
	DELETE FROM TBL_LOAINHANVIEN
	WHERE MALNV = @MALNV
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DELETELOAIPHONG]    Script Date: 7/22/2020 11:32:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DELETELOAIPHONG]
@MALP CHAR(4)
AS
BEGIN
	DELETE FROM TBL_LOAIPHONG
	WHERE MALP = @MALP
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DELETENHANVIEN]    Script Date: 7/22/2020 11:32:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DELETENHANVIEN]
@MANV VARCHAR(4)
AS
BEGIN
	DELETE FROM TBL_NHANVIEN 
	WHERE MANV = @MANV
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DELETEROOM]    Script Date: 7/22/2020 11:32:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DELETEROOM]
@SOPHONG CHAR(4)
AS
BEGIN
	DELETE FROM TBL_PHONG 
	WHERE SOPHONG = @SOPHONG
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GETCOSTROOM]    Script Date: 7/22/2020 11:32:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_GETCOSTROOM]
as
Begin
	select TBL_PHONG.SOPHONG, TBL_PHONG.TINHTRANG, TBL_PHONG.MALP, TBL_LOAIPHONG.GIA
	from tbl_phong, tbl_Loaiphong
	where tbl_phong.malp = tbl_Loaiphong.malp
end
GO
/****** Object:  StoredProcedure [dbo].[USP_GETKHACHHANG]    Script Date: 7/22/2020 11:32:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GETKHACHHANG]
AS
BEGIN
	SELECT * FROM TBL_KHACHHANG
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GETKHACHHANG1]    Script Date: 7/22/2020 11:32:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GETKHACHHANG1]
@MAKH char(4)
AS
BEGIN
	SELECT * FROM TBL_KHACHHANG
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GETKHACHHANGBYMAKH]    Script Date: 7/22/2020 11:32:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GETKHACHHANGBYMAKH]
@MAKH char(4)
AS
BEGIN
	SELECT * FROM TBL_KHACHHANG WHERE MAKH = @MAKH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GETLOAINHANVIEN]    Script Date: 7/22/2020 11:32:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GETLOAINHANVIEN]
AS
BEGIN
	SELECT * FROM TBL_LOAINHANVIEN
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GETLOAIPHONG]    Script Date: 7/22/2020 11:32:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GETLOAIPHONG]
AS
BEGIN
	SELECT * FROM TBL_LOAIPHONG
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GETNHANVIEN]    Script Date: 7/22/2020 11:32:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GETNHANVIEN]
@MANV char(4)
AS
BEGIN
	SELECT * FROM TBL_NHANVIEN
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GETNHANVIENBYMANV]    Script Date: 7/22/2020 11:32:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GETNHANVIENBYMANV]
@MANV char(4)
AS
BEGIN
	SELECT * FROM TBL_NHANVIEN WHERE MANV = @MANV
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GETROOM]    Script Date: 7/22/2020 11:32:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GETROOM]
AS
BEGIN
	SELECT * FROM TBL_PHONG 
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GETROOMNUMBER]    Script Date: 7/22/2020 11:32:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GETROOMNUMBER]
@SOPHONG char(4)
AS
BEGIN
	SELECT * FROM TBL_PHONG WHERE SOPHONG = @SOPHONG
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GETTHONGTINKS]    Script Date: 7/22/2020 11:32:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GETTHONGTINKS]
AS
BEGIN
	SELECT * FROM TBL_THONGTINKS
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INSERTHOADON]    Script Date: 7/22/2020 11:32:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_INSERTHOADON]
@MAHD VARCHAR(4),
@NGAYTHANHTOAN SMALLDATETIME,
@TRATRUOC MONEY,
@MANV VARCHAR(4)
AS
BEGIN
	SET NOCOUNT ON
	INSERT [dbo].[TBL_HOADON] ([MAHD], [NGAYTHANHTOAN], [TRATRUOC], [MANV]) 
	VALUES (@MAHD, @NGAYTHANHTOAN, @TRATRUOC, @MANV)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INSERTLOAINHANVIEN]    Script Date: 7/22/2020 11:32:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_INSERTLOAINHANVIEN]
@MALNV VARCHAR(4),
@TENLNV NVARCHAR(30)
AS
BEGIN
	SET NOCOUNT ON
	INSERT TBL_LOAINHANVIEN (MALNV, TENLNV) 
	VALUES (@MALNV, @TENLNV)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INSERTLOAIPHONG]    Script Date: 7/22/2020 11:32:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_INSERTLOAIPHONG]
@MALP VARCHAR(4),
@TENLP NVARCHAR(20),
@TRANGTHIETBI NVARCHAR(10),
@GIA MONEY,
@DONVI VARCHAR(10)
AS
BEGIN
	SET NOCOUNT ON
	INSERT TBL_LOAIPHONG (MALP, TENLP, TRANGTHIETBI, GIA, DONVI) 
	VALUES (@MALP, @TENLP, @TRANGTHIETBI, @GIA, @DONVI)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INSERTNHANVIEN]    Script Date: 7/22/2020 11:32:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_INSERTNHANVIEN]
@MANV VARCHAR(4),
@TENNV NVARCHAR(30),
@MALNV VARCHAR(4),
@NGSINH SMALLDATETIME,
@GIOITINH NVARCHAR(6),
@SDT CHAR(15),
@DIACHI NVARCHAR(30)
AS
BEGIN
	SET NOCOUNT ON
	INSERT [dbo].[TBL_NHANVIEN] ([MANV], [TENNV], [MALNV], [NGSINH], [GIOITINH], [SDT], [DIACHI]) 
	VALUES (@MANV, @TENNV, @MALNV, CAST(@NGSINH AS SmallDateTime), @GIOITINH, @SDT, @DIACHI)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_INSERTROOM]    Script Date: 7/22/2020 11:32:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_INSERTROOM]
@SOPHONG VARCHAR(5),
@TINHTRANG NVARCHAR(15),
@MALP VARCHAR(5)
AS
BEGIN
	SET NOCOUNT ON
	INSERT [dbo].[TBL_PHONG] ([SOPHONG], [TINHTRANG], [MALP]) 
	VALUES (@SOPHONG, @TINHTRANG, @MALP)
END


GO
/****** Object:  StoredProcedure [dbo].[USP_UPDATECTHD]    Script Date: 7/22/2020 11:32:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UPDATECTHD]
@MACTHD VARCHAR(4),
@MAKH VARCHAR(5),
@MANV VARCHAR(4),
@NGAYNHANPHONG SMALLDATETIME,
@NGAYDI SMALLDATETIME,
@SOPHONG CHAR(4),
@TRATRUOC MONEY,
@DONVI VARCHAR(10)
AS
BEGIN
	UPDATE TBL_CTHD
	SET	MAKH = @MAKH,
		MANV = @MANV,
		NGAYNHANPHONG = @NGAYNHANPHONG,
		NGAYDI = @NGAYDI,
		SOPHONG = @SOPHONG,
		TRATRUOC = @TRATRUOC,
		DONVI = @DONVI
	WHERE MACTHD = @MACTHD
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UPDATELOAINHANVIEN]    Script Date: 7/22/2020 11:32:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UPDATELOAINHANVIEN]
@MALNV VARCHAR(4),
@TENLNV NVARCHAR(30)
AS
BEGIN
	UPDATE TBL_LOAINHANVIEN
	SET TENLNV = @TENLNV
	WHERE MALNV = @MALNV
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UPDATELOAIPHONG]    Script Date: 7/22/2020 11:32:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UPDATELOAIPHONG]
@MALP VARCHAR(4),
@TENLP NVARCHAR(20),
@TRANGTHIETBI NVARCHAR(10),
@GIA MONEY,
@DONVI VARCHAR(10)
AS
BEGIN
	UPDATE TBL_LOAIPHONG
	SET TENLP = @TENLP,
		TRANGTHIETBI = @TRANGTHIETBI,
		GIA = @GIA,
		DONVI = @DONVI
	WHERE MALP = @MALP
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UPDATENHANVIEN]    Script Date: 7/22/2020 11:32:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UPDATENHANVIEN]
@MANV VARCHAR(4),
@TENNV NVARCHAR(30),
@MALNV VARCHAR(4),
@NGSINH SMALLDATETIME,
@GIOITINH NVARCHAR(6),
@SDT CHAR(15),
@DIACHI NVARCHAR(30)
AS
BEGIN
	UPDATE TBL_NHANVIEN
	SET TENNV = @TENNV,
		MALNV = @MALNV,
		NGSINH = CAST(@NGSINH AS SMALLDATETIME),
		GIOITINH = @GIOITINH,
		SDT = @SDT,
		DIACHI = @DIACHI
	WHERE MANV = @MANV
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UPDATEROOM]    Script Date: 7/22/2020 11:32:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UPDATEROOM]
@SOPHONG VARCHAR(5),
@TINHTRANG NVARCHAR(15),
@MALP VARCHAR(5)
AS
BEGIN
	UPDATE TBL_PHONG
	SET TINHTRANG = @TINHTRANG,
		MALP = @MALP
	WHERE SOPHONG = @SOPHONG
END
GO
USE [master]
GO
